@import-normalize;

:root {
  --main-color: #101828;
  --bg-color: #fff;
  --placeholder1-color: #10182899;
  --border-card-color: #10182833;
  --placeholder3-color: #1018281a;
  --text-color: #475467;
  --border-light-color: #47546733;
  --btn-color: #e44848;
  --btn-active-color: #d84343;
  --rating-color: #ffc531;
  --features-color: #f2f4f7;
  --input-color: #f7f7f7;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-block-start: 0;
  font-family: 'Inter', sans-serif;
  color: #101828;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
input,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0px;
}

button {
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: transparent;
}
